@CHARSET "UTF-8";

fieldset
{
	width: 50%;
	margin-left: 25%;
	border: none
}

form div
{
	margin: 0.4em 0;
}

form div label
{
	width: 40%;
	float: left;
}

#botones
{
	margin-left: 40%;
}